<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/style.css" rel="stylesheet">
    <title>estudo - Home</title>
</head>
<body>
    <h1>Pokedex</h1>

    <section>

        <% pokedex.forEach(pokemon => { %>
         

        <div class="card">
            <div class="nome__do__pokemon"><%= pokemon.nome %> </div>
            <img src="<%= pokemon.imagem %> " alt="">
            <div class="id__do__pokemon"><%= pokemon.id %> </div>
            <div class="tipo__do__pokemon"><%= pokemon.tipo %> </div>
        </div>
        <% }) %>

    </section>

</body>
</html>